<div class="datosArticulo">

<div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://maniakfitness.com/media/images/1-copia-v5f5ba79585302.jpeg" class="d-block w-100" alt="anilla">
    </div>
    <div class="carousel-item">
      <img src="https://maniakfitness.com/media/images/2-copia-v5f5ba79587d64.jpeg" class="d-block w-100" alt="de cerca">
    </div>
    <div class="carousel-item">
      <img src="https://maniakfitness.com/media/images/3-copia-v5f5ba7aa9e6ec.jpeg" class="d-block w-100" alt="de cerca">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

  <div class="card text-end" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Anillas Especiales</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia porro vero ipsam modi.</p>
      <a href="#" class="btn btn-maniak">Añadir al carrito</a>
    </div>
  </div>

</div>
