.carousel{
    width: 55%;
}

.datosArticulo{
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.card{
    border: none;
    margin-right: 10px;
}

.btn-maniak{
    background-color: #ff6900;
    color: white;
}