/* You can add global styles to this file, and also import other style files */
@media screen {
}

body {
    min-width: 768px;
    max-width: 1000px;
    @media only screen and (min-width: 0px) and (max-width: 767px) {
        display: none;
    }
    @media only screen and (min-width: 1024px) {
        display: none;
    }
}
